.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  margin: 20px 0;
}

.menu {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
