.date {
  text-align: center;
  margin: 0 0 10px 0;
}

.logo {
  position: relative;
  width: 50px;
  height: 50px;
}

.match {
  width: 250px;
  margin: 20px;
  padding: 20px;


  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: white;
  text-decoration: none;

  transition: all 0.5s;
}

.match:hover {
  transform: translateY(-10px);
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  text-decoration: none;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
